// Colours 

$neutral: #efe8e1;
$main: #5264ef;
$accent: #ed9654;

$black: #282828;
$white: #ffffff;

// Font Faces

@mixin logo {
    font-family: clarendon-urw-extra-wide,serif;
    font-weight: 800;
    font-style: italic;
}

@mixin script {
    font-family: bello-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin caps {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin main {
    font-family: poynter-oldstyle-text, serif;
    font-weight: 700;
    font-style: normal;
}