html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, main, section, footer, div, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #efe8e1;
  font-size: 62.5%;
  color: #282828;
  overflow: hidden;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #5264ef;
  background-image: url("../assets/headerBackground.svg");
  background-size: cover auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  height: 40px;
  position: fixed;
  top: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .headerContainer .smallLogo {
  width: 50%;
  height: 100%;
}

header .headerContainer .smallLogo img {
  height: 20px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

header .headerContainer .navContainer {
  width: 50%;
  text-align: right;
}

header .headerContainer .navContainer img {
  width: 36px;
  height: 31px;
  display: inline-block;
}

header .headerContainer .navContainer img:hover {
  cursor: pointer;
}

header .logoContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -100px;
}

header .logoContainer img {
  width: 80%;
  margin: 0 auto;
}

header .logoContainer .start {
  width: 100%;
  margin-top: 20px;
}

header .logoContainer .start h2 {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: #efe8e1;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

header .logoContainer .start h2:hover {
  color: #ed9654;
  cursor: pointer;
}

header .logoContainer .start h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 3px;
  width: 0px;
  background-color: #efe8e1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header .logoContainer .start .clicked {
  color: #ed9654;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .logoContainer .start .clicked::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 3px;
  width: 100%;
  background-color: #efe8e1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header .searchForANeighbourhood {
  width: 100%;
  text-align: center;
}

header .searchForANeighbourhood input, header .searchForANeighbourhood button {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  border-radius: 10px;
  font-size: 1.7rem;
  text-align: center;
}

header .searchForANeighbourhood input {
  border: 5px solid #5264ef;
  margin: 10px 0;
}

header .searchForANeighbourhood input::-webkit-input-placeholder {
  text-align: center;
  color: #282828;
  opacity: 1;
}

header .searchForANeighbourhood input:-ms-input-placeholder {
  text-align: center;
  color: #282828;
  opacity: 1;
}

header .searchForANeighbourhood input::-ms-input-placeholder {
  text-align: center;
  color: #282828;
  opacity: 1;
}

header .searchForANeighbourhood input::placeholder {
  text-align: center;
  color: #282828;
  opacity: 1;
}

header .searchForANeighbourhood button {
  border: 5px solid #282828;
  color: #ed9654;
  background-color: #282828;
  margin-bottom: 10px;
}

header .breakLine {
  width: 100%;
  margin: 20px 0;
}

header .breakLine img {
  width: 100%;
}

header .neighbourhoodOptions {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.7rem;
  border-radius: 10px;
  border: 5px solid #5264ef;
  width: 100%;
  background-color: #5264ef;
  margin-top: 10px;
}

header .selectAnOption {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  left: 20px;
}

main {
  display: none;
  /* for IE10 */
}

main p {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #282828;
  padding: 10px 0;
}

main .search {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .searchForANeighbourhood {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .searchForANeighbourhood input, main .searchForANeighbourhood button {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
}

main .searchForANeighbourhood input {
  border: 0;
  border-bottom: 5px solid #5264ef;
  margin: 10px 0;
  background-color: transparent;
  width: 80%;
}

main .searchForANeighbourhood input::-webkit-input-placeholder {
  text-align: left;
  color: #282828;
  opacity: 1;
}

main .searchForANeighbourhood input:-ms-input-placeholder {
  text-align: left;
  color: #282828;
  opacity: 1;
}

main .searchForANeighbourhood input::-ms-input-placeholder {
  text-align: left;
  color: #282828;
  opacity: 1;
}

main .searchForANeighbourhood input::placeholder {
  text-align: left;
  color: #282828;
  opacity: 1;
}

main .searchForANeighbourhood button {
  border: 0;
  border-bottom: 5px solid #5264ef;
  color: #ed9654;
  font-size: 1.2rem;
  background-color: transparent;
  margin-bottom: 10px;
  width: 20%;
  text-align: right;
}

main .breakLine {
  width: 100%;
  margin: 20px 0;
}

main .breakLine img {
  width: 100%;
}

main .neighbourhoodOptions {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
  color: #efe8e1;
  text-align: left;
  font-size: 1rem;
  border: 5px solid #5264ef;
  width: 100%;
  background-color: #5264ef;
  margin-top: 10px;
  background-image: url("../assets/chevron-circle-down-solid.svg");
  background-position: right;
  background-repeat: no-repeat;
}

main .selectAnOption {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  left: 20px;
}

main select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

main select::-ms-expand {
  display: none;
}

main .noResults {
  display: none;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .tryAgain {
  position: relative;
}

main .tryAgain::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 3px;
  width: 0px;
  background-color: #ed9654;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .tryAgainClicked {
  color: #ed9654;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline;
}

main .tryAgainClicked::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 3px;
  width: 100%;
  background-color: #ed9654;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .multipleSuggestions {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

main .multipleSuggestions .listOfSuggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

main .multipleSuggestions .listOfSuggestions li {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #282828;
}

main .results {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc(100vh - 60px);
  width: 100%;
  margin-top: 60px;
  position: relative;
}

main .results .resultsContainer {
  width: 100%;
  padding: 10px 0;
}

main .results h3 {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: #282828;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

main .results h3::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #ed9654;
}

main .results h4 {
  font-size: 1.3rem;
  text-align: left;
}

main .results span {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
  color: #5264ef;
  font-size: 1.5rem;
}

main .results .searchAnotherContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .results .searchAnotherContainer .searchAnotherNeighbourhood {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .results .searchAnotherContainer .showSearchAnother {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
